@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-black text-white font-body antialiased;
  }
}

@layer utilities {
  .text-neon-shadow {
    text-shadow: 0 0 10px currentColor;
  }

  .glass-panel {
    @apply bg-glass-white backdrop-blur-md border border-white/10 shadow-xl;
  }
}